@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-secondary font-primary text-[15px] leading-8;
  font-family: "Poppins", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary leading-[120%];
  font-family: "Montserrat", sans-serif;
}

.h1 {
  @apply text-[36px] xl:text-[64px] font-normal;
}

.h2 {
  @apply text-[30px] xl:text-[44px] font-normal  tracking-[0.44px];
}

.h3 {
  @apply text-[30px] xl:text-[26px] font-normal;
}

.h4 {
  @apply text-[20px] xl:text-[20px]  font-normal;
}

.btn {
  @apply rounded-full uppercase tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-sm {
  @apply h-14 px-10;
}

.btn-lg {
  @apply h-16 px-[50px];
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent-secondary;
}

.btn-white {
  @apply bg-white text-secondary hover:bg-white/90;
}

.btn-outline {
  @apply bg-transparent border-2 border-accent text-secondary hover:bg-accent hover:border-transparent hover:text-white;
}

.input,
.select {
  @apply w-full rounded-[10px] h-[66px] outline-none border border-[#dfdfdf] text-secondary font-light placeholder:font-light placeholder:text-secondary;
}

.input {
  @apply px-4;
}

.section {
  @apply py-12 xl:py-[150px];
}

.slick-prev, .slick-next {
  position: absolute;
  top: 35%;
  width: 40px; 
  height: 40px; 
  border-radius: 100%;
  border: #f9cab9 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
  cursor: pointer; 
  font-size: 20px;
}

.slick-next{ 
  right: -5%;
}

.slick-prev{
  left: -5%;
}

.slick-prev:before {
  content: '<'; /* Thêm biểu tượng mũi tên cho nút trước */
  color: #f9c4b0; /* Màu của biểu tượng */
}

.slick-next:before {
  content: '>'; /* Thêm biểu tượng mũi tên cho nút tiếp theo */
  color: #f9c4b0; /* Màu của biểu tượng */
}